.video-container {
  width: 100%;
  height: calc(100% + 60px);
  position: absolute;
  top: -60px;
  left: 0;
  z-index: -1;
  overflow: hidden;
  color: #e3e3e3; }
  .video-container video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute; }

.bandDivs {
  background-color: rgba(245, 245, 245, 0.89);
  margin-top: 40px;
  height: 150px; }

.imageAdjust {
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left; }

.boton {
  color: black !important;
  border-color: black !important; }

.boton:hover {
  color: white !important;
  border-color: white !important; }

.cuerpo {
  height: 400px !important; }
