.divPadre {
  text-align: center; }
  .divPadre h1 {
    margin-top: 20px;
    color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black; }
  .divPadre .mainVideoDiv {
    height: 100px; }
  .divPadre .VideoMainPage {
    height: 1000px;
    width: 1000px; }
  .divPadre .video {
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
    overflow: hidden;
    color: #e3e3e3; }
  .divPadre .imgDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: 50%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    border: solid 1px white;
    -webkit-animation: appear 1s;
    animation: appear 1s;
    cursor: pointer; }
    .divPadre .imgDiv :hover {
      cursor: pointer; }

@-webkit-keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.bandDivs {
  background-color: rgba(245, 245, 245, 0.89);
  margin-top: 40px;
  height: 150px; }

.imageAdjust {
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left; }

.boton {
  color: black !important;
  border-color: black !important; }

.boton:hover {
  color: white !important;
  border-color: white !important; }

.cuerpo {
  height: 400px !important; }

.paginationButtonsDiv {
  margin-left: 150px; }

#out {
  background-color: unset !important; }
