.bandDivs {
    background-color: rgba(250, 2, 138, 0.562) ;
    margin-top: 40px;
    
   
}

.imageAdjust {
    justify-content: left;
}

.boton {
    color: white !important;
    border-color: white;   
}

.cuerpo {  
    height: 400px !important;
    
}
