.titleContainer{
    margin-bottom: 30px;
    color: white;
    text-align: center;
}

.backform {
    background-color: rgba(245, 245, 245, 0.356);
    color: black;
    margin-top: 1000px;
    height: 400px;
    width: 500px;
    text-align: center;
    border-radius: 40px;
    position: relative;

    .bandDivsEditImage {
        position: absolute;
        width: 150px;
        height: 150px;
        left: -80px;
        top: -70px;
    
        img{
            border-radius: 100%;
            height: auto;
        }
       
    }
    
}

.editBandText {
    color: white
}



.buttonsEditBand {
    color: black !important;
    border-color: black !important;   
}

.buttonsEditBand:hover {
    color: white !important;
    border-color: white !important;   
}

.historyBackground{
    color: black;
    background-color: rgba(245, 245, 245, 0.767);
    padding: 20px;   
    position: relative; 
}

.modalBackground {
    background-color: rgba(245, 245, 245, 0.89);
    border-radius: 20px;
    
}

.ckEditor{
    border: 1px solid black;
}


