.bandDivs {
    background-color: rgba(250, 2, 138, 0.562) ;
    margin-top: 40px;
    margin: 0px auto;
    width: 200;
    height: 100;
}

.boton {
    color: white !important;
    border-color: white;   
}
