nav {
// background-color: rgba(250, 2, 138, 0.562) !important;
background-color: rgba(255, 255, 255, 0) !important;
}

.boton {
    color: white !important;
    border-color: white !important;   
}

.modalIndex {
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
}

.light {
    color: white;
}

.marcoNav {
    border-radius: 40%;
}

.logo {
    height: 80px;
    width: 180px;
}

