nav {
// background-color: rgba(250, 2, 138, 0.562) !important;
background-color: rgb(245, 245, 245) !important;
}

.boton {
    color: white !important;
    border-color: white !important;   
}

.modalIndex {
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
}

.light {
    color: white;
}