.bandDivsImage {
    margin-top: 40px;
    width: 900px;
    text-align: center;

    img{
        border-radius: 50%;
        height: 50%;
        width: 50%;
    }
   
}
.bandDivsInfo {
    color: whitesmoke !important;
    height: 150px;
    width: 900px;
    text-align:center;
}

.buttonBandDetails {
    background-color: rgba(245, 245, 245, 0.904);
    color: black !important;
    border-radius: 150%;
    height: 80px;
    width: 80px;
    position: absolute; 
    bottom: -30px; 
    left: -35px;
}

.buttonBandDetails:hover {
    background-color: rgba(68, 68, 68, 0.904);
    color: white !important;
}



.bandDivs {
    background-color: rgba(245, 245, 245, 0.89);
    height: 150px;
    width: 900px;
    text-align:center;

    img{
        margin:0px auto;
    }
   
}
.bandDivsInfo {
    margin-top: 40px;
    color: whitesmoke;
    height: 150px;
    width: 900px;
    text-align:center;
}

.boton {
    color: black !important;
    border-color: black !important;   
}

.historyBackgroundEditBand {
    color: black;
    background-color: rgba(245, 245, 245, 0.767);
    padding: 20px;   
    position: relative; 
}
.cuerpoCardAlbum{
    width: 18rem;
}

.backgroundCollapse {
    background-color: none !important;
}
