.bandDivs {
  background-color: rgba(245, 245, 245, 0.89);
  margin-top: 40px;
  height: 150px; }

.imageAdjust {
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left; }

.boton {
  color: black !important;
  border-color: black; }
