.bandDivsImage {
    margin-top: 40px;
    height: 900px;
    width: 900px;
    text-align: center;

    img{
        margin:0px auto;
    }
   
}
.bandDivsInfo {
    margin-top: 40px;
    color: whitesmoke !important;
    height: 150px;
    width: 900px;
    text-align:center;
}



.bandDivs {
    background-color: rgba(245, 245, 245, 0.89);
    margin-top: 40px;
    height: 150px;
    width: 900px;
    text-align:center;

    img{
        margin:0px auto;
    }
   
}
.bandDivsInfo {
    margin-top: 40px;
    color: whitesmoke;
    height: 150px;
    width: 900px;
    text-align:center;
}

.boton {
    color: black !important;
    border-color: black !important;   
}
