.bandDivsImage {
    margin-top: 40px;
    width: 900px;
    text-align: center;

    img{
        border-radius: 50%;
        height: 50%;
        width: 50%;
    }
   
}
.bandDivsInfo {
    color: whitesmoke !important;
    height: 150px;
    width: 900px;
    text-align:center;
}

.buttons {
    color: white !important;
    border-color: white !important;   
}

.buttons:hover {
    color: black !important;
    border-color: white !important;   
}



.bandDivs {
    background-color: rgba(245, 245, 245, 0.89);
    height: 150px;
    width: 900px;
    text-align:center;

    img{
        margin:0px auto;
    }
   
}
.bandDivsInfo {
    margin-top: 40px;
    color: whitesmoke;
    height: 150px;
    width: 900px;
    text-align:center;
}

.boton {
    color: black !important;
    border-color: black !important;   
}

.separator {
    height: 400px;
}
