.bandDivsImage {
  margin-top: 40px;
  height: 150px;
  width: 900px;
  text-align: center;
}
.bandDivsImage img {
  margin: 0px auto;
}

.bandDivsInfo {
  margin-top: 40px;
  color: whitesmoke !important;
  height: 150px;
  width: 900px;
  text-align: center;
}

.boton {
  color: white !important;
  border-color: white !important;
}