.bandDivsImage {
  margin-top: 40px;
  height: 900px;
  width: 900px;
  text-align: center;
}
.bandDivsImage img {
  margin: 0px auto;
}

.bandDivsInfo {
  margin-top: 40px;
  color: whitesmoke !important;
  height: 150px;
  width: 900px;
  text-align: center;
}

.bandDivs {
  background-color: rgba(245, 245, 245, 0.89);
  margin-top: 40px;
  height: 150px;
}

.imageAdjust {
  justify-content: left;
}

.boton {
  color: black !important;
  border-color: black !important;
}