    

.boton {
    color: black !important;
    border-color: black !important;   
}

.boton:hover {
    color: white !important;
    border-color: white !important;   
}


.cuerpo {  
    height: 400px !important;
    
}



