
.cuerpo {  
    height: 400px !important;    
}

#backAlb {
    background-color: rgba(245, 245, 245, 0.808)
}

.imgDiv {
    flex-direction: column;
    background: 50%;
    height: 200px;
}

.cursor {
    cursor: pointer;
}

h1 {
   user-select: none;
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: black;
}

