
.cuerpo {  
    height: 400px !important;    
}

#backAlb {
    background-color: rgba(245, 245, 245, 0.808)
}

.imgDiv {
    flex-direction: column;
    background-size: 100%;
    height: 400px;
    background-repeat: no-repeat;

}

.cursor {
    cursor: pointer;
}

.h1SearchedBand {
   user-select: none;
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: black;
}

@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

